@font-face { font-family: "OswaldRegular"; src: url(./assets/Oswald-Regular.ttf); }
@font-face { font-family: "SourceSansRegular"; src: url(./assets/SourceSansPro-Regular.otf); }
@font-face { font-family: "OswaldExtraLight"; src: url(./assets/Oswald-ExtraLight.ttf); }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    left:25%;
    width: 75%;
  }

  #toc {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    border-radius: 0%;
  }

  .card-header {
    padding: 5px 10px;
    margin-bottom: 0;
    background-color: white;
    border-bottom: none;
  }

  .card-header:hover {
    background-color:#F5F5F5;
  }


  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 5px 10px;
  }

  .row {
    margin: 5px;
  }

  .col-theme {
    padding-left: 5px;
    padding-right: 5px;
  }

  .p-theme {
    font-family: sans-serif;
    font-size: x-small;
    color:#46484A;
    line-height: 1;
    position: absolute;
    top: 9rem;
  }


  .indicator_header:hover {
    background-color: whitesmoke;
  }

  #menu_content .col-12 {
    padding: 10px;
  }

  .nav-link:hover{
    background-color:#B0AAC5;
  }
